In [3]:
import pandas as pd
import numpy as np

In [4]:
raw = pd.read_excel("/Users/ljjy/Documents/GitHub/rlm_project/RLM_01.xlsx", header = 0, sheet_name="식당품질정보")
raw.head()

,식당(ID),식당명,지점명,지역명,어워드정보설명,(RTI)지수,온라인화진행여부,수용태세지수,인기도,트립어드바이저평점,씨트립평점,네이버평점
0,10012,명동정,NaN,중구,모범음식점(2015),4.213839,N,0.370,0.33,NaN,NaN,4.40
1,10014,봉추찜닭,명동중앙우체국점,중구,모범음식점(2019),4.423649,Y,0.330,0.51,NaN,4.7,4.45
2,10015,금계찜닭,명동점,중구,NaN,NaN,Y,0.082,NaN,NaN,NaN,NaN
3,10016,명동한우방,명동본점,중구,NaN,3.922220,N,0.244,0.09,NaN,NaN,4.54
4,10018,삼호복집,NaN,서대문구,모범음식점(2004),4.400069,Y,0.307,0.33,4.0,NaN,4.33

In [8]:
my_area = raw[raw['지역명'].isin(['영등포구','강북구','관악구','은평구','구로구'])][['식당(ID)','식당명', '지점명','지역명','네이버평점']]

my_area.head(10)

    식당(ID)        식당명   지점명   지역명  네이버평점
42   10754  63뷔페 파빌리온   NaN  영등포구   4.49
43   10755        슈치쿠   NaN  영등포구   4.67
44   10757   워킹온더클라우드   NaN  영등포구   4.68
45   10758        백리향   NaN  영등포구   4.60
61   12278        고구려  선유도점  영등포구   4.27
62   12279        너섬가   NaN  영등포구   4.47
70   12287    참좋은스파스낵   NaN   구로구    NaN
71   12288        동해도    본점  영등포구   4.23
74   12291         타오   NaN   구로구   4.14
92   12310       영산홍가   NaN   구로구   4.18

In [9]:
import numpy as np

# NaN 값을 처리하기 위해 numpy를 import합니다.

my_area['식당명+지점명'] = np.where(
    my_area['지점명'].notna(),
    my_area['식당명'].astype(str) + " " + my_area['지점명'].astype(str),
    my_area['지역명'] + " " + my_area['식당명'].astype(str)
)

my_area.head(10)

    식당(ID)        식당명   지점명   지역명  네이버평점         식당명+지점명
42   10754  63뷔페 파빌리온   NaN  영등포구   4.49  영등포구 63뷔페 파빌리온
43   10755        슈치쿠   NaN  영등포구   4.67        영등포구 슈치쿠
44   10757   워킹온더클라우드   NaN  영등포구   4.68   영등포구 워킹온더클라우드
45   10758        백리향   NaN  영등포구   4.60        영등포구 백리향
61   12278        고구려  선유도점  영등포구   4.27        고구려 선유도점
62   12279        너섬가   NaN  영등포구   4.47        영등포구 너섬가
70   12287    참좋은스파스낵   NaN   구로구    NaN     구로구 참좋은스파스낵
71   12288        동해도    본점  영등포구   4.23          동해도 본점
74   12291         타오   NaN   구로구   4.14          구로구 타오
92   12310       영산홍가   NaN   구로구   4.18        구로구 영산홍가

In [10]:
name_list = my_area['식당명+지점명'].tolist()
name_list = name_list
name_list[:10]

['영등포구 63뷔페 파빌리온',
 '영등포구 슈치쿠',
 '영등포구 워킹온더클라우드',
 '영등포구 백리향',
 '고구려 선유도점',
 '영등포구 너섬가',
 '구로구 참좋은스파스낵',
 '동해도 본점',
 '구로구 타오',
 '구로구 영산홍가']

In [33]:
import requests
import numpy as np  # Make sure to import numpy for using np.nan

res_info_list = []
no_place = []

for searching in name_list:
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
    headers = {
        "Authorization": "KakaoAK a6c6b32f96a9b73fbc44b537b0b7c852"
    }

    response = requests.get(url, headers=headers).json()
    places = response.get('documents', [])  # Providing a default empty list if the key is not found

    if len(places) <= 0:
        places = {
            'address_name': np.nan,
            'category_group_code': np.nan,
            'category_group_name': np.nan,
            'category_name': np.nan,
            'distance': np.nan,
            'id': np.nan,
            'phone': np.nan,
            'place_name': np.nan,
            'place_url': np.nan,
            'road_address_name': np.nan,
            # ... other fields ...
            'x': np.nan,
            'y': np.nan
        }
        res_info_list.append(places)
    else:
        res_info_list.append(places[0])

In [34]:
len(res_info_list)

26023

In [35]:
res_info_df = pd.DataFrame(res_info_list)
res_info_df['평점'] = raw['네이버평점']
res_info_df.loc[res_info_df['address_name'].isna(), '평점'] = np.nan

In [36]:
res_info_df[:10]

,address_name,category_group_code,category_group_name,category_name,distance,id,phone,place_name,place_url,road_address_name,x,y,평점
0,서울 영등포구 여의도동 60,FD6,음식점,음식점 > 뷔페,,7967166,02-789-5731,63뷔페 파빌리온,http://place.map.kakao.com/7967166,서울 영등포구 63로 50,126.9401710888746,37.51981484576526,4.40
1,서울 영등포구 여의도동 60,FD6,음식점,음식점 > 일식,,13070102,02-789-5751,슈치쿠,http://place.map.kakao.com/13070102,서울 영등포구 63로 50,126.940245757776,37.5198022695234,4.45
2,서울 영등포구 여의도동 60,FD6,음식점,음식점 > 양식 > 이탈리안,,10693192,02-789-5904,워킹온더클라우드,http://place.map.kakao.com/10693192,서울 영등포구 63로 50,126.94022530571483,37.51991578554775,NaN
3,서울 영등포구 여의도동 60,FD6,음식점,음식점 > 중식 > 중국요리,,11891739,02-789-5741,백리향,http://place.map.kakao.com/11891739,서울 영등포구 63로 50,126.940281933018,37.5198311199145,4.54
4,서울 영등포구 양평동4가 92-1,FD6,음식점,음식점 > 중식 > 중국요리,,1397633258,02-2647-3606,고구려,http://place.map.kakao.com/1397633258,서울 영등포구 선유로49길 29-1,126.894353908895,37.5369396190386,4.33
5,서울 영등포구 여의도동 13-19,FD6,음식점,음식점 > 한식 > 한정식,,17522105,02-785-6660,너섬가 여의도지점,http://place.map.kakao.com/17522105,서울 영등포구 국회대로74길 12,126.921104255641,37.5299975862226,4.50
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,서울 영등포구 여의도동 14-15,FD6,음식점,"음식점 > 일식 > 초밥,롤",,26602766,02-761-6200,동해도 본점,http://place.map.kakao.com/26602766,서울 영등포구 은행로 25,126.921386202934,37.5286895201804,4.42
8,서울 구로구 구로동 212-8,FD6,음식점,음식점 > 중식 > 중국요리,,10011222,0507-1332-2888,타오,http://place.map.kakao.com/10011222,서울 구로구 디지털로 288,126.89513933689,37.4834350872194,4.69
9,서울 구로구 개봉동 327-22,FD6,음식점,"음식점 > 한식 > 해물,생선",,12051916,02-2686-0755,영산홍가 영산홍어1호점,http://place.map.kakao.com/12051916,서울 구로구 개봉로17길 18,126.854827087081,37.4917213435306,4.15

In [37]:
# 내 지역구가 아닌 지역구
not_my_area = ['강남구', '도봉구', '중구', '중랑구', '광진구', '마포구',
               '금천구', '서초구', '성동구', '동대문구', '송파구', '동작구', 
               '강서구', '노원구', '강동구', '종로구','양천구','용산구','서대문구','성북구']

# 내 지역구가 아닌 행의 인덱스를 찾음
rows_to_drop = res_info_df[res_info_df['address_name'].str.contains('|'.join(not_my_area), na=False)].index

# 해당 행을 삭제
res_info_df = res_info_df.drop(rows_to_drop)

# reset_index() 함수를 호출하여 인덱스를 다시 정렬
res_info_df = res_info_df.reset_index(drop=True)

In [38]:
# 카카오API로 겁색하지 못한 음식점 개수
res_info_df.isna().sum()

address_name           6384
category_group_code    6384
category_group_name    6384
category_name          6384
distance               6384
id                     6384
phone                  6384
place_name             6384
place_url              6384
road_address_name      6384
x                      6384
y                      6384
평점                     8360
dtype: int64

In [39]:
# 서울 아닌 행, NaN값 삭제
rows_to_drop2 = res_info_df[~res_info_df['address_name'].str.startswith('서울', na=False)].index
res_info_df = res_info_df.drop(rows_to_drop2)
res_info_df = res_info_df.reset_index(drop=True)

In [40]:
res_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18203 entries, 0 to 18202
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address_name         18203 non-null  object
 1   category_group_code  18203 non-null  object
 2   category_group_name  18203 non-null  object
 3   category_name        18203 non-null  object
 4   distance             18203 non-null  object
 5   id                   18203 non-null  object
 6   phone                18203 non-null  object
 7   place_name           18203 non-null  object
 8   place_url            18203 non-null  object
 9   road_address_name    18203 non-null  object
 10  x                    18203 non-null  object
 11  y                    18203 non-null  object
 12  평점                   16247 non-null  float64
dtypes: float64(1), object(12)
memory usage: 1.8+ MB

In [41]:
# 음식점 아닌 행 삭제
rows_to_drop3 = res_info_df[~res_info_df['category_name'].str.startswith('음식점', na=False)].index
res_info_df = res_info_df.drop(rows_to_drop3)
res_info_df = res_info_df.reset_index(drop=True)

In [42]:
res_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17231 entries, 0 to 17230
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address_name         17231 non-null  object
 1   category_group_code  17231 non-null  object
 2   category_group_name  17231 non-null  object
 3   category_name        17231 non-null  object
 4   distance             17231 non-null  object
 5   id                   17231 non-null  object
 6   phone                17231 non-null  object
 7   place_name           17231 non-null  object
 8   place_url            17231 non-null  object
 9   road_address_name    17231 non-null  object
 10  x                    17231 non-null  object
 11  y                    17231 non-null  object
 12  평점                   15366 non-null  float64
dtypes: float64(1), object(12)
memory usage: 1.7+ MB

In [43]:
df_final = res_info_df.iloc[:,[0,3,7,11,10,8,12]]
df_final.columns = ['도로명주소', '카테고리', '상호명', '위도(y)', '경도(x)', '사이트', '별점']
df_final

,도로명주소,카테고리,상호명,위도(y),경도(x),사이트,별점
0,서울 영등포구 여의도동 60,음식점 > 뷔페,63뷔페 파빌리온,37.51981484576526,126.9401710888746,http://place.map.kakao.com/7967166,4.40
1,서울 영등포구 여의도동 60,음식점 > 일식,슈치쿠,37.5198022695234,126.940245757776,http://place.map.kakao.com/13070102,4.45
2,서울 영등포구 여의도동 60,음식점 > 양식 > 이탈리안,워킹온더클라우드,37.51991578554775,126.94022530571483,http://place.map.kakao.com/10693192,NaN
3,서울 영등포구 여의도동 60,음식점 > 중식 > 중국요리,백리향,37.5198311199145,126.940281933018,http://place.map.kakao.com/11891739,4.54
4,서울 영등포구 양평동4가 92-1,음식점 > 중식 > 중국요리,고구려,37.5369396190386,126.894353908895,http://place.map.kakao.com/1397633258,4.33
...,...,...,...,...,...,...,...
17226,서울 은평구 구산동 202-11,"음식점 > 한식 > 해물,생선",싱싱오징어바다 구산점,37.6139265950855,126.910355460883,http://place.map.kakao.com/1500238254,4.48
17227,서울 은평구 대조동 205-23,음식점 > 양식 > 피자,도시피자 은평점,37.6150556792226,126.921974951478,http://place.map.kakao.com/649597096,4.22
17228,서울 영등포구 여의도동 36-2,음식점 > 중식,미슐램,37.5207822719756,126.9269148023,http://place.map.kakao.com/1382631342,4.54
17229,서울 강북구 수유동 596-4,음식점 > 한식,샘터마루,37.6466446620218,127.006082566071,http://place.map.kakao.com/8362137,4.44
17230,서울 강북구 수유동 535-55,음식점 > 한식,곤드레이야기,37.6442336868679,127.004835982286,http://place.map.kakao.com/16849323,4.29

In [44]:
df_final['카테고리'].value_counts()

음식점 > 한식                      1584
음식점 > 카페                      1166
음식점 > 술집 > 호프,요리주점            1032
음식점 > 한식 > 육류,고기               934
음식점 > 분식                       737
                              ...
음식점 > 치킨 > 오븐에빠진닭                1
음식점 > 치킨 > 훌랄라                   1
음식점 > 한식 > 육류,고기 > 쟁반집8292       1
음식점 > 치킨 > 공만치킨                  1
음식점 > 양식 > 스페인음식                 1
Name: 카테고리, Length: 540, dtype: int64

In [48]:
df_final.to_excel('식단품질정보_0814.xlsx')

In [ ]:
# 라이브러리 로드
import os
import json
import csv
import requests
!pip install folium
import folium
!pip install -U googlemaps
import googlemaps
import pandas as pd
import xlrd
import openpyxl
import seaborn as sns
import numpy as np
import platform

%matplotlib notebook
import matplotlib.pyplot as plt
import warnings
from matplotlib import font_manager, rc

# 주피터 에러 메시지 제거
warnings.filterwarnings(action='ignore')

# Plot 한글 지원
plt.rcParams['axes.unicode_minus'] = False
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system() == 'Linux':
    path = "/usr/share/fonts/NanumGothic.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

# Google map api key setting 
gmaps_key = "AIzaSyAliSjfdOLBHrJS5fgOs5EbzUfDr3RioJo"
gmaps = googlemaps.Client(key=gmaps_key)