In [1]:
import pandas as pd
import numpy as np
import requests

In [3]:
seoul_df = pd.read_csv('/Users/ljjy/Downloads/code/유혁/서울관광재단_data/서울관광재단_식당품질정보_20230111.csv', encoding = 'cp949')

In [5]:
seoul_df.head()

,식당(ID),식당명,지점명,지역명,어워드정보설명,(RTI)지수,온라인화진행여부,수용태세지수,인기도,트립어드바이저평점,씨트립평점,네이버평점
0,10012,명동정,NaN,중구,모범음식점(2015),4.213839,N,0.370,0.33,NaN,NaN,4.40
1,10014,봉추찜닭,명동중앙우체국점,중구,모범음식점(2019),4.423649,Y,0.330,0.51,NaN,4.7,4.45
2,10015,금계찜닭,명동점,중구,NaN,NaN,Y,0.082,NaN,NaN,NaN,NaN
3,10016,명동한우방,명동본점,중구,NaN,3.922220,N,0.244,0.09,NaN,NaN,4.54
4,10018,삼호복집,NaN,서대문구,모범음식점(2004),4.400069,Y,0.307,0.33,4.0,NaN,4.33

In [21]:
n_arr = pd.DataFrame({})
name_list = ['영등포구','강북구','관악구','은평구','구로구']
for name in name_list:
    arr = seoul_df[seoul_df['지역명'] == name]
    arr = arr.sort_values(by = '네이버평점', ascending = False).iloc[:1000]
    n_arr = pd.concat([n_arr, arr], axis = 0)

key_word = n_arr['지역명'] + ' ' + n_arr['식당명']

In [22]:
n_arr.shape

(5000, 12)

In [23]:
len(key_word)

5000

In [ ]:
y = []
x = []
place_url = []
road_address_name = []
category = []

url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query='
headers = {
    'Authorization': 'KakaoAK a6c6b32f96a9b73fbc44b537b0b7c852'
}
for key in key_word:
    places = requests.get(url + key, headers = headers).json()['documents']
    if places:
        places = places[0]
        if places.get('place_url'):
            place_url.append(places['place_url'])
        else:
            place_url.append(np.nan)
        x.append(places['x'])
        y.append(places['y'])
        road_address_name.append(places['road_address_name'])
        category.append(places['category_name'])
    else:
        place_url.append(np.nan)
        x.append(np.nan)
        y.append(np.nan)
        road_address_name.append(np.nan)
        category.append(np.nan)

In [ ]:
n_arr['위도'], n_arr['경도'], n_arr['음식카테고리'], n_arr['사이트'], n_arr['road_address_name'] = y, x, category, place_url, road_address_name

In [ ]:
n_arr['음식카테고리'].isnull().value_counts()

In [ ]:
n_arr.to_excel('new_table.xlsx')
n_arr = pd.read_excel('new_table.xlsx')

In [ ]:
result = n_arr[n_arr['음식카테고리'].isnull() == False]
result = result.sort_values(by = '네이버평점', ascending = False).iloc[:200]
result

In [ ]:
# 라이브러리 로드
import os
import json
import csv
import requests
import folium
import googlemaps
import pandas as pd
import xlrd
import openpyxl
import seaborn as sns
import numpy as np
import platform

%matplotlib notebook
import matplotlib.pyplot as plt
import warnings
from matplotlib import font_manager, rc

# 주피터 에러 메시지 제거
warnings.filterwarnings(action='ignore')
# Plot 한글 지원
plt.rcParams['axes.unicode_minus'] = False
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')
# Google map api key setting
gmaps_key = "AIzaSyAliSjfdOLBHrJS5fgOs5EbzUfDr3RioJo"
gmaps = googlemaps.Client(key=gmaps_key)

In [ ]:
map1 = folium.Map(location=[37.5502, 126.982], zoom_start=11)

for n in result.index:
    folium.Marker(
        location = [result['위도'][n],result['경도'][n]],
        radius = 10,
        color='#3186cc',
        fill_color='#3186cc',
        fill=True,
        tooltip  = ('<b>- 도로명주소</b>: ' + result['road_address_name'][n] + '<br>' +
                 '<b>- 상호명</b>: ' + result['식당명'][n] + '<br>' +
                 '<b>- url</b>: ' + result['사이트'][n] + '<br>' +
                   '<b>- 카테고리</b>: ' + result['음식카테고리'][n] + '<br>' +
                  '<b>- 네이버 평점</b>: ' + str(result['네이버평점'][n]) + '<br>')
    ).add_to(map1)
map1