In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv('서울관광재단_식당품질정보_20230111.csv', encoding = 'cp949')
raw.head()

,식당(ID),식당명,지점명,지역명,어워드정보설명,(RTI)지수,온라인화진행여부,수용태세지수,인기도,트립어드바이저평점,씨트립평점,네이버평점
0,12420,하늘찬,NaN,강서구,모범음식점(2014),1.050190,N,0.214,NaN,NaN,NaN,5.0
1,12588,파티대통령,NaN,광진구,모범음식점(2009),4.188102,Y,0.300,0.03,NaN,NaN,5.0
2,13586,오늘 한판,NaN,금천구,모범음식점(2009),4.251917,Y,0.490,0.20,NaN,NaN,5.0
3,14203,원조궁중추어탕,NaN,강서구,"모범음식점(2009),안심식당(2020)",4.159002,N,0.264,0.09,NaN,NaN,5.0
4,15320,최네집부대찌개,NaN,성북구,모범음식점(2008),1.050190,N,0.264,NaN,NaN,NaN,5.0

In [3]:
my_area = raw[['식당(ID)','식당명', '지점명','지역명','네이버평점']]

my_area.head(10)

   식당(ID)      식당명    지점명   지역명  네이버평점
0   12420      하늘찬    NaN   강서구    5.0
1   12588    파티대통령    NaN   광진구    5.0
2   13586    오늘 한판    NaN   금천구    5.0
3   14203  원조궁중추어탕    NaN   강서구    5.0
4   15320  최네집부대찌개    NaN   성북구    5.0
5   15339  온라이프다이닝  NC강서점   강서구    5.0
6   86478   이문동떡볶이    NaN  동대문구    5.0
7   90829    토종순대국    NaN   광진구    5.0
8   97828      쿠타니    NaN   강서구    5.0
9  159837  라뜰리에 꼼때    NaN   종로구    5.0

In [5]:

my_area['식당명+지점명'] = np.where(
    my_area['지점명'].notna(),
    my_area['식당명'].astype(str) + " " + my_area['지점명'].astype(str),
    my_area['지역명'] + " " + my_area['식당명'].astype(str)
)

my_area.head(10)

C:\Users\wingclaw\AppData\Local\Temp\ipykernel_2600\1044838715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_area['식당명+지점명'] = np.where(

   식당(ID)      식당명    지점명   지역명  네이버평점        식당명+지점명
0   12420      하늘찬    NaN   강서구    5.0        강서구 하늘찬
1   12588    파티대통령    NaN   광진구    5.0      광진구 파티대통령
2   13586    오늘 한판    NaN   금천구    5.0      금천구 오늘 한판
3   14203  원조궁중추어탕    NaN   강서구    5.0    강서구 원조궁중추어탕
4   15320  최네집부대찌개    NaN   성북구    5.0    성북구 최네집부대찌개
5   15339  온라이프다이닝  NC강서점   강서구    5.0  온라이프다이닝 NC강서점
6   86478   이문동떡볶이    NaN  동대문구    5.0    동대문구 이문동떡볶이
7   90829    토종순대국    NaN   광진구    5.0      광진구 토종순대국
8   97828      쿠타니    NaN   강서구    5.0        강서구 쿠타니
9  159837  라뜰리에 꼼때    NaN   종로구    5.0    종로구 라뜰리에 꼼때

In [6]:
name_list = my_area['식당명+지점명'].tolist()
name_list = name_list
name_list[:10]

['강서구 하늘찬',
 '광진구 파티대통령',
 '금천구 오늘 한판',
 '강서구 원조궁중추어탕',
 '성북구 최네집부대찌개',
 '온라이프다이닝 NC강서점',
 '동대문구 이문동떡볶이',
 '광진구 토종순대국',
 '강서구 쿠타니',
 '종로구 라뜰리에 꼼때']

In [9]:
import requests

res_info_list = []
no_place = []

for searching in name_list:
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
    headers = {
        "Authorization": "KakaoAK baccb3812bb7865995e93c318b31e10e"
    }
    places = requests.get(url, headers=headers).json()['documents']
    
    if len(places) <= 0:
        places = {'address_name': np.nan,
                 'category_group_code': np.nan,
                 'category_group_name': np.nan,
                 'category_name': np.nan,
                 'distance': np.nan,
                 'id': np.nan,
                 'phone': np.nan,
                 'place_name': np.nan,
                 'place_url': np.nan,
                 'road_address_name': np.nan,
                 'x': np.nan,
                 'y': np.nan}
        res_info_list.append(places)
        
    else:
        res_info_list.append(places[0])

In [ ]:
len(res_info_list)

In [ ]:
res_info_df = pd.DataFrame(res_info_list)
res_info_df['평점'] = raw['네이버평점']
res_info_df.loc[res_info_df['address_name'].isna(), '평점'] = np.nan

In [ ]:
res_info_df[:10]

In [ ]:
# 내 지역구가 아닌 지역구
not_my_area = ['강남구', '도봉구', '중구', '중랑구', '광진구', '종로구',
               '양천구', '용산구', '서대문구', '성북구', '송파구', '동작구', 
               '강서구', '노원구', '강동구', '영등포구', '강북구', '관악구', '은평구', '구로구']

# 내 지역구가 아닌 행의 인덱스를 찾음
rows_to_drop = res_info_df[res_info_df['address_name'].str.contains('|'.join(not_my_area), na=False)].index

# 해당 행을 삭제
res_info_df = res_info_df.drop(rows_to_drop)

# reset_index() 함수를 호출하여 인덱스를 다시 정렬
res_info_df = res_info_df.reset_index(drop=True)

In [ ]:
# 카카오API로 겁색하지 못한 음식점 개수
res_info_df.isna().sum()

In [ ]:
# 서울 아닌 행, NaN값 삭제
rows_to_drop2 = res_info_df[~res_info_df['address_name'].str.startswith('서울', na=False)].index
res_info_df = res_info_df.drop(rows_to_drop2)
res_info_df = res_info_df.reset_index(drop=True)

In [ ]:
res_info_df.info()

In [ ]:
#공통컬럼만 #컬럼번호수정 필요
df_final = res_info_df.iloc[:,[0,3,7,8,10,11,12]]
df_final.columns = ['도로명주소', '카테고리', '상호명', '위도(y)', '경도(x)', '사이트', '별점']
df_final

In [ ]:
df_final['카테고리'].value_counts()

In [ ]:
#최종 데이터프레임
df_final.to_excel('식단품질정보_전처리완료.xlsx')